#start {
    position: relative;
    // background: url("../../assets/bgIMG.png");
    background: url("../../assets/background5.jpg");
    background-size: cover;
    background-position: 50% 90%;
    background-repeat: repeat;
  

    @media screen and (max-width: 850px) {
      background-size: 450%;
      background-position: 50% 90%;
    }
    // disable the default padding styles
    .app__wrapper {
      padding: 0;

  
      .copyright {
        display: none;
      }
    }
  }
  
  .app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;

  
     padding: 6rem 0rem 0rem;
  
    @media screen and (min-width: 2000px) {
      padding-top: 8rem;
    }
  
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  
    @media screen and (max-width: 450px) {
      padding: 6rem 1rem 2rem;
    }
  }

  .name-nowrap {
    white-space: nowrap;
  }
  
  .app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  
    margin: 0 2rem;
  
    @media screen and (max-width: 1200px) {
      width: 100%;
      margin-right: 0rem;
    }
  }
  
  .app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  
    .badge-cmp,
    .tag-cmp {
      padding: 1rem 2rem;
      background: var(--white-color);
      border-radius: 15px;
      flex-direction: row;
      width: auto;
  
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
  
    .tag-cmp {
      flex-direction: column;
      margin-top: 3rem;
  
      p {
        width: 100%;
        text-transform: uppercase;
        text-align: right;
      }
    }
  
    span {
      font-size: var(--font-size4);
  
      @media screen and (min-width: 2000px) {
        font-size: var(--font-size5);
      }
    }
  
    @media screen and (max-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  
  .app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
    position: relative;

    @media screen and (max-width: 1200px) {
      position: absolute;
      top: 75%;
      z-index: 3;
      height: fit-content;
    }
  
    div {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      cursor: grab;
  
      background: var(--white-color);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

     
  
      img {
        width: 60%;
        height: 60%;
        pointer-events: none;
      }
    }
  
    // circles with different height & width
  
    div:nth-child(1) {
      width: 100px;
      height: 100px;
    }
  
    div:nth-child(2) {
      margin: 1.75rem;
      width: 162px;
      height: 162px;
    }
  
    div:nth-child(3) {
      width: 62px;
      height: 62px;
    }

    div:nth-child(4) {
      width: 100px;
      height: 100px;
    }
  
    @media screen and (min-width: 2000px) {

      div:nth-child(1) {
        width: 200px;
        height: 200px;
      }

      div:nth-child(2) {
        width: 324px;
        height: 324px;
      }
  
      div:nth-child(3) {
        width: 144px;
        height: 144px;
      }

      div:nth-child(4) {
        width: 200px;
        height: 200px;
        margin-left: -15rem;
        z-index: 1;
      }
  
  
    }
  
    @media screen and (max-width: 1200px) {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;
  
      div {
        margin: 1rem;
      }
    }
  }
  
  .app__header-img {
    flex: 1;
    height: 100%;
    pointer-events: none;
    user-select: none;
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  
    img {
      width: 100%;
      object-fit: contain;
      z-index: 2;
    }
  
    .overlay_circle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 90%;
    }
  
    @media screen and (max-width: 1200px) {
      // margin: 2rem 0;
    }
  }

  .app__header-canvas {
    flex: 1;
    align-self: stretch;
    position: relative;


    .app__header-color-wrapper {
    //  height: 300px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;

      padding: 1rem ;
      background: rgba(255,255,255, 0.25);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 0.5rem;
      border: 1px solid rgba(255,255,255, 0.18);


      .react-colorful {
        height: 150px;
     
       
      }
  
      .react-colorful__saturation {
        border-radius: 4px 4px 0 0;
      }
  
      .react-colorful__hue {
        height: 20px;
        border-radius: 0 0 4px 4px;
      }
  
      // .react-colorful__hue-pointer {
      //   width: 12px;
      //   height: inherit;
      //   border-radius: 0;
      // }
    }
  }

  .app__header-mobile-scroll {
    position: absolute;
    bottom: 4rem;
    display: none;

    

    a {
      font-size: var(--font-size4);
      color: var(--darkGray-color);

      width: 5rem;
      height: 5rem;
 
      background: rgba(255,255,255, 0.25);
      backdrop-filter: blur(4px);
      --webkit-backdrop-filter: blur(4px);
      border: 1px solid rgba(255,255,255, 0.18);
      border-radius: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 850px) {
      display: block;
    }
  }