@font-face {
  font-family: "Bungee";
  src: local("Bungee"),
   url("./fonts/Bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  }

  @font-face {
    font-family: "NunitoSans";
    src: local("NunitoSans"),
     url("./fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype");
    font-weight: normal;
    }

:root {
  /* --font-base: "DM Sans", sans-serif;   */
  --font-navbar: "Bungee", sans-serif;
  --font-base:'NunitoSans', sans-serif;

  --font-size1: 0.618rem;
  --font-siez2: 1rem;
  --font-size3: 1.618rem;
  --font-size4: 2.618rem;
  --font-size5: 3.508rem;
  --font-size6: 5.676rem;


   /* --primary-color: #edf2f8;  */
   --primary-color: #e8e8e8; 

   /* --secondary-color: #9b1c2f;  */
  --secondary-color:   #1e65ff ; 

  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --darkGray-color: #3e3e3e; 

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--lightGray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkGray-color);
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}